#Gallery {
    background-color: #eeeeee;
    /* background-color: #f9f9f9; */
    display: flex;
    justify-content: start;
    align-items: center;
    padding:20px 0;
    flex-direction: column;
    overflow: hidden;
}

.Gallery-Title p {
    font-size: 25pt;
}

.Gallery-Cont {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px
}

.Gallery-Img img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin: 0px;
    transition: all 0.4s ease-in-out;
    object-fit: cover;
}

.Gallery-Img {
    transition: all 0.4s ease-in-out;
    position: relative;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.301);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Gallery-Img:hover {
    transform: scale(1.1);
}

.Gallery-Img p {
    opacity: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    pointer-events: none;
    transition: all 0.6s ease-in-out;
}

.Gallery-Img:hover p {
    opacity: 1;
}

.Gallery-Img:hover img {
    filter: brightness(0.4);
}

.GalleryPage {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-gap: 50px; /* spacing between the items */
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
}

.GalleryPages.exiting .GalleryPage {
    opacity: 0; /* Fading out */
}

.GalleryPages.entering .GalleryPage {
    opacity: 1; /* Fading in */
}
.GalleryPages {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 750px;
}

.Gallery-PageButtons {
    margin-top: 20px;
}

.Gallery-PageButtons button {
    margin: 5px;
    padding: 10px;
}

.Gallery-PageButtons button.active {
    background-color: #555;
    color: white;
}

@media (max-width:1400px) {
    .Gallery-Img img{
        width: 200px;
        height: 200px;
    }
    .GalleryPages{
        height: 550px;
    }
}
@media (max-width:1000px) {
    .Gallery-Img img{
        width: 150px;
        height: 150px;
    }
    .GalleryPages{
        height: 450px;
    }
}
@media (max-width:790px) {
    .GalleryPage{
        grid-template-columns: repeat(3, 1fr);
    }
    .Gallery-Title p {
        font-size: 23pt;
    }
    .Gallery-Img img{
        width: 200px;
        height: 200px;
    }
    .GalleryPages{
        height: 550px;
    }
}
@media (max-width:730px) {
    .GalleryPage{
        grid-gap: 30px;
    }
    .Gallery-Img img{
        width: 150px;
        height: 150px;
    }
    .GalleryPages{
        height: 450px;
    }
}
@media (max-width:540px) {
    
    .Gallery-Img img{
        width: 130px;
        height: 130px;
    }
    .GalleryPages{
        height: 400px;
    }
}
@media (max-width:475px) {
    .GalleryPage{
        grid-template-columns: repeat(2, 1fr);
    }
    .Gallery-Title p {
        font-size: 20pt;
    }
    .Gallery-Img img{
        width: 180px;
        height: 180px;
    }
    .GalleryPages{
        height: 500px;
    }
}
@media (max-width:420px) {
    .Gallery-Title p {
        font-size: 18pt;
    }
    .GalleryPage{
        grid-gap: 20px;
    }
    .Gallery-Img img{
        width: 150px;
        height: 150px;
    }
    .GalleryPages{
        height: 420px;
    }
}
@media (max-width:355px) {
    .Gallery-Img img{
        width: 130px;
        height: 130px;
    }
    .GalleryPages{
        height: 350px;
    }
}

