.services-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of items on smaller screens */
    justify-content: space-between; 
    padding: 40px; 
    background-color: white;
  }
  
  .service-box {
    flex: 1;
    margin: 0 10px; /* Space between boxes */
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
  }
  
  .service-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05); 
  }
  
  .service-box h2 {
    margin-top: 0;
  }
  
  .service-box p {
    margin-bottom: 0;
    text-align: justify;
    line-height: 1.5;
  }
  
  /* Media Query for Tablets and Smaller Devices */
  @media (max-width: 768px) {
    .services-container {
      padding: 20px; /* Reduce padding on smaller screens */
    }
  
    .service-box {
      flex: 1 1 100%; /* Each box takes full width on smaller screens */
      margin: 10px 0; /* Vertical margin for spacing */
    }

    .service-box p {
        margin-bottom: 0;
        text-align: justify;
        line-height: 1.5;
        font-size: small;
      }
    
    .service-box h2 {
        margin-top: 0;
        font-size: medium;
      }
  }
  
  /* Media Query for Mobile Phones */
  @media (max-width: 480px) {
    .services-container {
      padding: 10px; /* Further reduce padding on very small screens */
    }
  
    .service-box {
      padding: 15px; /* Reduce padding inside boxes */
    }
  }
  